<div class="flex flex-column">
  <span class="text-lg mb-4">Register</span>

  <mat-form-field>
    <mat-label>User</mat-label>
    <input type="text" matInput placeholder="UserName" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" matInput placeholder="Name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" matInput placeholder="Password" />
  </mat-form-field>

  <button mar-button mat-flat-button color="primary">
    SignIn
    <mat-icon>save</mat-icon>
  </button>

  <div class="fex justify-content-end mt-5">
    <a routerLink="/auth/login"> You do not have an account?</a>
  </div>
</div>
